GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=
BLOB_READ_WRITE_TOKEN=
CISIGNAL_ARCHIVE_TOKEN=
CISIGNAL_PUBLIC_URL=https://ci-signal.vercel.app
